body{
    margin: 0;
    padding: 0;
    
}

#cont{
    display: flex;
    justify-content: space-between;
    background-color: rgb(54, 49, 49);
    padding: 20px 20px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#left{
    display: flex;
    gap: 20px;
    font-size: 25px;
    text-align: center;
}
#right{
    display: flex;
    gap: 80px;
    font-size: 15px;
    text-align: center;
    margin-right: 90px;
}
#land{
    margin-left: 50px;
    color: rgb(255, 255, 255);
}
a{
    text-decoration: none;
    color: rgb(187, 180, 180);
}
a:hover{
    color: rgb(255, 255, 255);
}

.cont1 h1{
    color: white;
    font-size: 30px;
    text-align: center;
    padding-top: 30%;
}
.cont1 p{
    font-size: 20px;
    color: white;
    text-align: center;
}
.cont1 button{
    display: flex;
    color: white;
    background-color: rgb(32, 223, 32);
    width: 8%;
   margin: auto;
   padding: 12px;
   border: 0px solid white;
   border-radius: 6px;
  
}
#cont1{
    background-color: rgba(0, 0, 0, 0.22);
}
#backimg{
    background-image: url(./images/intro-bg\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -9rem -1rem;
    height: 53rem;
    opacity: .8;
}
.main2{
    display: flex;
    background-color: rgb(255, 255, 255);
}
#left1 h1{
    font-size: 30px;
    margin-left: 60px;
    
}
.underline-word{
   border-top: 3px solid  rgba(6, 182, 6, 0.845);
  width: 4rem;
  margin-left: 60px;
}
#left1 P{
    color: rgb(170, 166, 166);
    word-spacing: 1px;
    margin-left: 60px;
    margin-right: 25px;
}
#left1 button{
    color: rgb(255, 255, 255);
    background-color: rgba(6, 182, 6, 0.845);
    word-spacing: 5px;
    border: 0rem solid white;
    border-radius: 5px;
    padding: 12px;
    margin: auto;
    margin-left: 60px;
    margin-top: 25px;
}
#right1 img{
    margin: 20px;
}
#right #headimg{
    display: inline;
}

.heading{
    display:flex;
}
#h1{
    margin-right: 11.5rem;
    margin-left:1rem ;
    font-weight: 180;
    margin-top: 0.5px;
}
#h2{
    font-weight: 180;
    margin-top: 0.5px;
}
.para{
    display: flex;
    font-style: normal;
    color: #8a8d91;
}
#p1{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 0.1px;
    margin-bottom: 0.1px

}
#p2{
    margin-left: 20px;
    margin-right: 25px;
    margin-top: 0.1px;
    margin-bottom: 0.1px
}
