body{
    margin: 0;
    padding: 0;
   background-image: url(./images/background\ iamge.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
}
main{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
main div{
    width: 25%;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}
main div img{
    width: 100%;
    height: 300px;
    object-fit: cover; 
    border-radius: 10px;
    opacity: 0.7;
}
main div img:hover{
    opacity: 1;
    transition: 2s;
}
main div h1{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 15px;
    color: rgb(6, 128, 6);

}
main div p{
    text-align:center;
    color: rgb(239, 110, 67);
    padding: 20px;
}

