
body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    background-image: url(./images/bannerbackground.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #f5f5f5;
}

#bar{
    display: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2%;
}
#left h2{
    font-size: 1rem;
    color: white;
}
#left h2 span{
    font-weight: 100;
}
#right ul {
    display: flex ;
    list-style-type: none;
    gap: 2rem;
}
#right a{
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
}
#right button{
    border-radius: 5px;
    background-color: transparent;
    font-size: 0.8rem;
    color: white;
    border: 2px solid rgb(215, 196, 196);
    padding: 5px;
}
#menu{
    list-style-type: none;
    padding: 0;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    top: 100%;
    right: 0%;
    width: 250%;
}
#drop{
    position: relative;
}
#menu a{
    color: black;
    border-bottom: 2px solid grey;
    display: block;
    padding-left: 10px;
    position: relative;
}
#menu a:hover{
    background-color: rgb(170, 117, 117);
}
#sub{
    list-style-type: none;
    padding: 0;
    background-color: white;
    position: absolute;
    border-radius: 5px;
    top: 75%;
    left: -100%;
    right: 0;
    width: 100%;
}
#alpha{
    text-align: center;
    color: white;
    margin-top: 3rem;
}
#alpha h1{
    font-size: 11rem;
    margin-bottom: 2rem;
}
#alpha button{
    width: 12%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: grey;
    margin-right: 1rem;
    font-size: 1rem;
}
#alpha p{
    font-size: 1.5rem;
}
#alpha #learn{
    background-color: transparent;
    border: 2px solid rgb(206,199, 199);
    color: white;
}
#intro{
    background-color: white;
    width: 70%;
    margin: auto;
    border-radius: 5px;
    color: grey;
    text-align: center;
    padding-top: 2rem;
    margin-top: 15.5rem;
}
#intro h1{
    font-size: 2rem;
}
#intro p{
    font-size: 1.2rem;
    border-top: 2px solid grey;
    width: 60%;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 3.8rem;
}

#cards{
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
#cards div{
    width: 40%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding-bottom: 2rem;

}
#cards div img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius:5px ;
}
#cards div h1{
    color: #878787;
}
#cards div p{
    font-size: 1rem;
}
#cards div button{
    color: #96b0d2;
}

#signup{
    text-align: center;
    background-color: rgb(248, 148, 90,0.975);
    color: white;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
}
#signup h1{
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom:10px ;
    font-size: 40px;
    color: white;
}
#sign p{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    font-size: 1.4rem;
}
#sign input{
    width: 25%;
    height: 4rem;
    border-radius: 0.5rem;
    padding-left: 20px;
    gap: 1rem;
    background-color: rgb(242, 218, 218);
}
#input::placeholder{
    color: white;
}
#signup button{
    background-color: white;
    width: 10%;
    height: 2.8rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-weight: 100;
    cursor: pointer;
    margin-right: 1rem;
}

#footerp{
    display: flex;
    justify-content: center;
    gap: 10px;
}


#alpha h1{
    font-size: 2rem;
}
#apha p{
    font-size: 1.1rem;
    font-weight: 600;
}

#icon{
    
    background-color: white;
    justify-content: center;
    width: 70%;
    margin: auto;
    gap: 10px;
    border-radius: 5px;
   margin-top: 2rem;
   margin-bottom: 30px;
}
#icon div{
    width: 47%;
    display: inline-block;
    text-align: center;
    padding-top: 2rem;
}







/* -------------------mobile version-------------------------- */
@media(max-width:500px){
    body{
        background-size: 190%;
        background-position-x: center;
    }
    #bar{
        display: inline-block;
        background-color: rgb(169, 164, 164);
        padding: 5px 10px;
        color: white;
        border-radius: 5px;
        margin-top: 8px;
        margin-left: 8px ;
    }
    header{
        display: none;
    }
    #alpha h1{
        font-size: 2rem;
    }
    #apha p{
        font-size: 1.1rem;
        font-weight: 600;
    }
    #alpha button{
        width: 100%;
        margin-bottom: 1 rem;
    }
    #intro{
        width: 100%;
        margin-top: 2.2rem;

    }
    #intro{
        font-size: 1.5rem;
        font-weight: 400;
    }
    #intro p{
        font-size: 1.1rem;
        width: 90%;
    }
    br{
        display: none;
    }
}






